@charset "UTF-8";
/**** by Tia  ****/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #080606 0%, #16100b 50%, #19110c 100%);
  /*font-family: 'Microsoft YaHei','Arial','Helvetica Neue','Open Sans', sans-serif !important;*/
  font-family: "PingFang SC Medium", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/***** common css  *****/
/*** banner  ***/
.banner {
  width: 100%;
  height: 566px;
  margin: 0 auto;
  background: url("../images/bg1.jpg") center center no-repeat;
  background-size: cover;
  background-color: #0b0d0e;
}
.banner>.container {
  height: 100%;
  position: relative;
}
.banner>.container .logo {
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 2;
}
.banner>.container .shine1 {
  width: 600px;
  height: 98px;
  background: url("../images/sh.jpg") top left no-repeat;
  background-size: cover;
  position: absolute;
  top: 132px;
  left: 26%;
  z-index: 1;
}
.banner>.container .big-font {
  width: 600px;
  height: 210px;
  background: url("../images/big-font.png") top left no-repeat;
  background-size: cover;
  position: absolute;
  top: 100px;
  left: 28%;
  z-index: 2;
}
/*** content s ***/
.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.content>.container {
  margin: 0 auto;
  text-align: center;
  min-height: 600px;
}
.content>.container>section {
  padding: 0 45px;
}
.content>.container .agent .title1 {
  width: 1123px;
  height: 48px;
  background: url("../images/title1.png") top center no-repeat;
  background-size: cover;
  margin-left: -10px;
}
.content>.container .agent .intro {
  white-space: pre-line;
  font-size: 16px;
  color: #d6bc9a;
  line-height: 2.2;
  padding-top: 40px;
  font-family: "PingFang SC Medium", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content .cards {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0 30px 0;
}
.content .cards>li {
  padding: 30px 5px;
  background: rgba(32,22,14,.8);
  box-shadow:inset 0 0 45px #463313;
  -ms-box-shadow:inset 0 0 45px #463313;
  -moz-box-shadow:inset 0 0 45px #463313;
  -webkit-box-shadow:inset 0 0 45px #463313;
  transform:skewX(170deg);
  -ms-transform:skewX(170deg);
  -webkit-transform:skewX(170deg);
  -moz-transform:skewX(170deg);
}
.content .cards>li h2 {
  font-size: 30px;
  transform:skewX(10deg);
  -ms-transform:skewX(10deg);
  -webkit-transform:skewX(10deg);
  -moz-transform:skewX(10deg);
  margin-bottom: 10px;
}
.text-gradient {
  display: block;
  color: #f8f8eb;
  font-family: "FZQKBYSJW GB1 0","微软雅黑" ,sans-serif, "Roboto Slab" ;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 1)), to(rgba(230, 208, 113, 1)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .cards>li {
  position: relative;
}
.content .cards>li img {
  transform:skew(10deg);
  -ms-transform:skew(10deg);
  -webkit-transform:skew(10deg);
  -moz-transform:skew(10deg);
  margin-top: 20px;
}
.content .cards>li:nth-child(odd) {
  margin-top: -40px;
}
.content .cards>li:nth-child(odd)::before {
  content: url("../images/shine2.png");
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -46%);
  -webkit-transform: translate(-50%, -46%);
  -moz-transform: translate(-50%, -46%);
  -ms-transform: translate(-50%, -46%);
  -o-transform: translate(-50%, -46%);
}
.content .cards>li:nth-child(even) {
  margin-top: 40px;
}
.content .cards>li:nth-child(even)::after {
  content: url("../images/shine2.png");
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 55%);
  -webkit-transform: translate(-50%, 55%);
  -moz-transform: translate(-50%, 55%);
  -ms-transform: translate(-50%, 55%);
  -o-transform: translate(-50%, 55%);
}
.content .advance .title2 {
  width: 1123px;
  height: 48px;
  background: url("../images/title2.png") top center no-repeat;
  background-size: cover;
  margin-left: -10px;
  margin-top: 66px;
}
.content .advance .descs {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 60px 0 30px 0;
}
.content .advance .descs>li {
  width: 48%;
  text-align: left;
}
.content .advance .descs>li .info>li {
  padding-bottom: 34px;
}
.content .advance .descs>li .info>li>h3 {
  font-size: 22px;
  /*text-shadow: -1px -1px 0 #fff,1px 1px 0 #a87412,1px 1px 0 #c1881c;*/
}
.text-gradient2 {
  display: block;
  color: #d6bc9a;
  font-family: "FZQKBYSJW GB1 0","微软雅黑" ,sans-serif, "Roboto Slab" ;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(254, 253, 198, 1)), to(rgba(209, 151, 41, 1)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .advance .intro {
  font-size: 16px;
  color: #d6bc9a;
  padding-top: 10px;
  font-family: "PingFang SC Medium", Helvetica, Arial, sans-serif, "Roboto Slab", "Helvetica Neue";
  text-align: justify;
  line-height: 1.8;
}
.content>.container .user .title3 {
  width: 1123px;
  height: 48px;
  background: url("../images/title3.png") top center no-repeat;
  background-size: cover;
  margin-left: -10px;
  margin-top: 44px;
}
.content>.container .user .intro {
  white-space: pre-line;
  font-size: 16px;
  color: #d6bc9a;
  line-height: 2.2;
  font-family: "PingFang SC Medium", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content .user .tab-wrap {
  max-width: 100%;
  margin:0 auto;
  margin-top:30px;
  border-radius:4px;
}
.content .user .tab-nav {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0 30px 0;
}
.content .user .tab-nav>li {
  width: 214px;
  cursor: pointer;
  font-size: 26px;
  color: #d6bc9a;
  padding: 20px 15px;
  background: rgba(32,22,14,.8);
  box-shadow:inset 0 0 45px #463313;
  -ms-box-shadow:inset 0 0 45px #463313;
  -moz-box-shadow:inset 0 0 45px #463313;
  -webkit-box-shadow:inset 0 0 45px #463313;
  transform:skewX(170deg);
  -ms-transform:skewX(170deg);
  -webkit-transform:skewX(170deg);
  -moz-transform:skewX(170deg);
}
.content .user .tab-nav>li.active {
  display: inline-block;
  color: #d6bc9a;
  font-weight: bold;
  font-family: "FZQKBYSJW GB1 0","微软雅黑" ,sans-serif, "Roboto Slab" ;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(254, 253, 198, 1)), to(rgba(209, 151, 41, 1)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .tab-nav>li.active::before {
  content: url("../images/shine3.png");
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -46%);
  -webkit-transform: translate(-50%, -41%);
  -moz-transform: translate(-50%, -46%);
  -ms-transform: translate(-50%, -46%);
  -o-transform: translate(-50%, -46%);
}
.content .tab-nav>li.active::after {
  content: url("../images/shine3.png");
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 55%);
  -webkit-transform: translate(-50%, 59%);
  -moz-transform: translate(-50%, 55%);
  -ms-transform: translate(-50%, 55%);
  -o-transform: translate(-50%, 55%);
}
.content .user .tab-content {
  padding:20px 10px;
  margin:20px;
}
.content .user .tab-content>li {
  display:none;
}
.content .user .tab-content>.active {
  display:block;
}
.user .cards>li {
  height: 232px;
  padding: 20px 15px;
}
.content .user .cards>li h2 {
  margin-top: -70px;
}
.content .cards>li p {
  max-width: 220px;
}
.content .cards>li p>a {
  display: inline-block;
  font-size: 18px;
  color: #c79a37;
  padding: 12px 8px 5px 8px;
  margin-right: 10px;
}
.cards>li:last-child p {
  padding-left: 30px;
}
.cards>li:last-child p a {
  width: 120px;
  display: block;
}
.user .cash {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 60px 0 30px 0;
}
.user .cash>li:first-child {
  text-align: left;
}
.user .cash>li:last-child {
  text-align: center;
}
.user .cash>li>.line {
  padding: 15px 0;
  font-size: 28px;
  color: #d6bc9a;
  cursor: pointer;
}
.user .cash>li>.line b {
  letter-spacing: 3px;
  line-height: 1.5;
}
.user .cash>li>.line p {
  font-size: 16px;
  font-weight: bold;
  color: #d6bc9a;
  letter-spacing: 17px;
  line-height: 1.5;
  font-family: "PingFang SC Medium", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.user .cash .line>.shine3 {
  width: 58px;
  height: 59px;
  display: inline-block;
  background: url("../images/shine4.png") top center no-repeat;
  background-size: cover;
  vertical-align: bottom;
}
.user .cash .line>h2 {
  display: inline-block;
}
.user .cash>li>img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.user .app>li>.line p {
  letter-spacing: 9px;
}
.user .app .icon-img {
  width: 221px;
  margin-top: 48px;
  margin-left: 80px;
  vertical-align: middle;
}
.content .employee .title4 {
  width: 1123px;
  height: 48px;
  background: url("../images/title4.png") top center no-repeat;
  background-size: cover;
  margin-left: -10px;
  margin-top: 36px;
  margin-bottom: 30px;
}
.employee .level1>li {
  text-align: left;
  padding: 15px;
}
.employee .level1>li>.text-gradient2 {
  margin-bottom: 15px;
}
.employee .level1>li p {
  font-size: 16px;
  color: #d6bc9a;
}
.employee .level1>li .level2 {
  font-size: 16px;
  color: #d6bc9a;
}
.employee .level1>li .level2>li {
  padding-bottom: 18px;
}
/*** content e ***/

/********  footer   ********/
.footer {
  width: 100%;
  height: 256px;
  background: #0f0704;
  font-size: 14px;
  color: #888888;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: center;
  align-items: center;
}
.footer>.container {
  flex: 1;
}
.footer .foot-box {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: space-around;
  align-items: flex-start;
}
.foot-box {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.foot-box>li {

}
.foot-box>li:first-child .wx-img {
  display: inline-block;
  width: 105px;
  height: 105px;
  vertical-align: top;
}
.foot-box>li:first-child .wx-img img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.foot-box>li:first-child .line2 {
  display: inline-block;
  padding-left: 20px;
}
.foot-box .line2>h4 {
  font-size: 16px;
  color: #d6bc9a;
  font-weight: 400;
  padding-bottom: 20px;
}
.foot-box .line2>p {
  padding: 0 0 15px 0;
  font-size: 14px;
  color: #888;
}
.foot-box .line2>p:last-child {
  padding-bottom: 0;
}
.icon-qq, .icon-chat {
  display: inline-block;
  width: 26px;
  height: 26px;
  font-style: normal;
  vertical-align: middle;
}
.icon-qq {
  background: url("../images/icon-qq.png") top center no-repeat;
  background-size: cover;
}
.icon-chat {
  background: url("../images/icon-chat.png") top center no-repeat;
  background-size: cover;
}
.foot-box .line2>p a {
  display: inline-block;
  margin-right: 15px;
}
.foot-box .line2>p a span {
  display: inline-block;
  font-size: 14px;
  color: #888;
  vertical-align: middle;
}